@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #e5e5e5;
    color: #333333;
}

.page{
    width: 87%;
    margin: 25px auto 0;
}
.page .header-figure{
    position: relative;
    margin: 35px 0 0;
}
.page form{
    background: white;
    padding: 15px;
}